<!-- Modal -->
<div class="modal fade" id="questionModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        {% block modal_content %}
          <form action="{% url 'posts:create_question' %}" method="post">
            {% csrf_token %}
            {{ form.title.label_tag }}{{ form.title }}
            {{ form.content.label_tag }}{{ form.content }}
            <button class="small fit" type="submit">Post</button>
          </form>
        {% endblock modal_content %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn fit" data-dismiss="modal" id="close">閉じる</button>
      </div>
    </div>
  </div>
</div>
