{{ post.content }}
<p>
  {% if not post.anonymous %}
  <p>from. <a href="">{{ post.user.username }}</a></p>
  {% else %}
  <p>from. 匿名</p>
  {% endif %}
  ({{ post.created }} 投稿)
</p>
<p>
  <button type="button" class="button special small" id="like_button{{ post.id }}">Like +{{ post.likes }}</button>
  {% ifequal post.is_poster user %}
  <!-- Trigger the modal with a button -->
  <button type="button" class="button special small" data-toggle="modal" data-target="#answerModal">編集する</button>
  {% endifequal %}
</p>
