{% extends 'base.html' %}
{% load posts_tags %}

{% block script %}
  {{ block.super }}
  {% include 'posts/_modal_scripts.html' %}
  <script>
    $(document).ready(function() {
      $("[id^='like_button']").click(function() {

        var target = this;

        $.ajax({
          'url': "{% url 'posts:like' %}",
          'type': 'POST',
          'data': {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'answer_id': target.id.replace("like_button", ""),
          },
          'dataType': 'json',
          'success': function(response) {
            $(target).text('Like +' + response.likes);
          }
        })
      })

      $("#command").click(function() {
        $.ajax({
          'url': "{% url 'posts:update_question' question.id %}",
          'type': 'GET',
          'success': function(response) {
            $("#id_title").val(response.title);
            $("#id_content").val(response.content);
          }
        })
      })
      $("#submit").click(function() {
        if ('{{ is_poster }}') {
          $.ajax({
            'url': "{% url 'posts:update_question' question.id %}",
            'type': 'POST',
            'data': {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              'title': $("#id_title").val(),
              'content': $("#id_content").val(),
              'pk': '{{ question.id }}',
            },
            'dataType': 'json',
            'success': function(response) {
              location.reload();
            }
          })
        }
        else {
          $.ajax({
            'url': "{% url 'posts:create_answer' %}",
            'type': 'POST',
            'data': {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              'content': $("#id_content").val(),
              'question_id': '{{ question.id }}',
            },
            'dataType': 'json',
            'success': function(response) {
              location.reload();
            }
          })
        }
      })
    })
  </script>
{% endblock script %}

{% block content %}
  {{ form.errors }}
  <section>
    {% post_node question %}
  </section>
  <section>
    {% for answer in answers %}
      {% post_node answer %}
    {% endfor %}
  </section>
  {% if request.user.is_authenticated %}
    {% if is_poster %}
    {% include 'posts/_create_question_modal.html' %}
    {% include 'posts/_create_question_trigger.html' with trigger_label=label %}
    {% else %}
      {% include 'posts/_create_answer_modal.html' with answer_form=form %}
      {% include 'posts/_create_answer_trigger.html' with trigger_label=label %}
    {% endif %}
  {% else %}
    {% include '_login_modal.html' with login_form=login_form %}
    {% include '_login_modal_trigger.html' with trigger_label='ログインして投稿する' %}
  {% endif %}
{% endblock content %}
